<div class="container-fluid table-responsive col-10 mt-5 me-0">
    <table class="table table-hover table-dark  w-50 " align="center">
        <thead>
            
            <tr>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.categoryName}}</td>
                <td>
                    <div class="d-flex gap-3">
                        <button class="btn btn-warning text-light border-0" (click)="openAddCategoryDialog(category)">Edit</button>
                        <button class="btn btn-danger text-light border-0" (click)="deleteCategory(category)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>