<nav class="navbar navbar-expand-lg col-10 sticky-top me-0 ms-auto flex-grow-1 main-nav">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  mx-auto fs-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" >Product Management System</a>
          </li>
  
        </ul>
        <div class=" d-flex flex-row ">
          <img src="../../../../assets/Profile-Avatar-PNG-Picture.png" class="img-fluid" alt="No img" width="40px"
            height="5px">
  
        </div>
        <div class="dropdown me-4 ms-2">
          <a  class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle fs-5"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu dropdown-menu-sm-end text-small shadow">
            <li><a class="dropdown-item" [routerLink]="['/layouts/user/profile']" routerLinkActive="router-link-active" >Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="signout()" >Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>