$color1:#49435B;
$color2:#695650;
$color1:#DED2CE;
$color1:#B99B8C;
$color1:#87614A;


$back-ground:#DED2CE;
.main-nav{
  background-color: $back-ground;
}
.dropdown-toggle::after {
  font-size: x-large;
}
