<div class="card" style="width: 18rem;">
    <img [src]="getSafeUrl(product.imageURL)" class="card-img-top" [alt]="getSafeUrl(product.imageURL)">
    <div class="card-body">
      <h5 class="card-title">{{ product.productName }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Price: {{ product.price | currency }}</p>
      <div class="d-flex gap-2">
      <a [routerLink]="['/product', product._id]" class="btn btn-primary">View Details</a>
      <a (click)="editProduct()" class="btn btn-warning" *ngIf="role==='Admin'" >Edit</a>
      <a (click)="deleteProduct()" class="btn btn-danger" *ngIf="role==='Admin'">Delete</a>
    </div>
    </div>
  </div>
  
